In [1]:
!pip install pymongo
!pip install flask_pymongo

Requirement already satisfied: pymongo in c:\users\owner\anaconda3\lib\site-packages (3.11.1)
Requirement already satisfied: flask_pymongo in c:\users\owner\anaconda3\lib\site-packages (2.3.0)
Requirement already satisfied: Flask>=0.11 in c:\users\owner\anaconda3\lib\site-packages (from flask_pymongo) (1.1.2)
Requirement already satisfied: PyMongo>=3.3 in c:\users\owner\anaconda3\lib\site-packages (from flask_pymongo) (3.11.1)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\owner\anaconda3\lib\site-packages (from Flask>=0.11->flask_pymongo) (2.11.2)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\owner\anaconda3\lib\site-packages (from Flask>=0.11->flask_pymongo) (1.1.0)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\owner\anaconda3\lib\site-packages (from Flask>=0.11->flask_pymongo) (1.0.1)
Requirement already satisfied: click>=5.1 in c:\users\owner\anaconda3\lib\site-packages (from Flask>=0.11->flask_pymongo) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\owner\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask>=0.11->flask_pymongo) (1.1.1)

In [2]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
import pymongo
import time
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo

In [3]:
executable_path = {"executable_path": "C:/Users/Owner/Downloads/chromedriver_win32 (1)/chromedriver.exe"}
browser = Browser("chrome", **executable_path)

In [4]:
news_url = "https://mars.nasa.gov/news/"
browser.visit(news_url)
time.sleep(5)
html = browser.html
news_soup = bs(html, "html.parser")

In [5]:
news_title = news_soup.body.find("div", class_= "bottom_gradient").get_text()
news_content = news_soup.body.find("div", class_= "article_teaser_body").get_text()

print(news_title)
print("---------------------------------------")
print(news_content)

MOXIE Could Help Future Rockets Launch Off Mars
---------------------------------------
NASA's Perseverance rover carries a device to convert Martian air into oxygen that, if produced on a larger scale, could be used not just for breathing, but also for fuel.

In [6]:
jpl_nasa_url = "https://www.jpl.nasa.gov"
images_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(images_url)
html = browser.html
images_soup = bs(html, "html.parser")

In [7]:
relative_image_path = images_soup.find_all('img')[3]["src"]
featured_image_url = jpl_nasa_url + relative_image_path
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24247-640x350.jpg

In [8]:
mars_facts_url = "https://space-facts.com/mars/"
mars_facts = pd.read_html(mars_facts_url)
mars_facts

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [9]:
mars_facts_df = mars_facts[2]
mars_facts_df.columns = ["Description", "Values"]
mars_facts_df

            Description                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [10]:
mars_html = mars_facts_df.to_html()
mars_html.replace("\n", " ")
print(mars_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Description</th>
      <th>Values</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [11]:
usgs_url = "https://astrogeology.usgs.gov"
hemisphere_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemisphere_url)
hemisphere_html = browser.html
hemisphere_soup = bs(hemisphere_html, "html.parser")

In [13]:
hemisphere_items = hemisphere_soup.find_all("div", class_="item")

image_urls =[]

for i in hemisphere_items:
    title = i.find("h3").text
    img_url_1 = i.find("a", class_="itemLink product-item")["href"]
    browser.visit(usgs_url+img_url_1)
    img_html = browser.html
    img_soup = bs(img_html, "html.parser")
    img_url_2 = usgs_url + img_soup.find("img", class_="wide-image")["src"]
    image_urls.append({"title": title, "img_url":img_url_2})
    
image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]